.testimonial-sec{
    padding: 100px 20px;
    height: 800px;
    width: 150%;
    background-color: #f3f1f2;
    position: relative;
}

.behind-container{
    display: flex;
}

.tstmn-txt{
    height: fit-content;
    width: 700px;
    /* background-color: aqua; */
    font-size: 120px;
    font-family: "Phudu", sans-serif;
    font-weight: 600;
}

.right-smlbx{
    height: 60px;
    width: 300px;
    margin: 120px 800px auto auto;
    /* background-color: burlywood; */
    border: 1px solid gray;
    border-radius: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.right-smlbx .crcl-img{
    height: 100%;
    width: 50px;
    text-align: center;
    align-content: center;
}

.ratg-prt .rg-no, .rtgs-star{
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.rtgs-star{
    color: orange;
    margin-inline: 7px;
}

.test-rev{
    display: flex;
    position: absolute;
    top: 310px;
    height: 450px;
    width: 100%;
    /* background-color: brown; */
}

.tst-chlmn{
    height: 100%;
    width: 400px;
    padding: 20px;
    /* background-color: darkgoldenrod; */
    border: 1px solid rgba(128, 128, 128, 0.655);
    border-radius: 15px;
    margin-inline: 20px;
    background-color: rgba(255, 255, 255, 0.797);
}

.dbl-quote{
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    color: white;
    background-color: black;
    padding: auto;
    font-size: 20px;
    font-family: "Phudu", sans-serif;
    border-radius: 50%;
}

.revw-txt{
    height: 160px;
    color: #2e2d2d;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.revr-prf{
    margin-top: 100px;
    /* height: 60px; */
    width: 100%;
    display: flex;
    align-items: center;
}

.prf-pic{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.prf-pic img{
    height: 100%;
    width: 100%;
}

.rev-prf-nm{
    /* display: flex; */
    align-content: center;
    height: 100%;
    margin-left: 10px;
}

.rev-prf-nm h2{
    font-family: "Inter", sans-serif;
}

.rev-prf-nm span{
    color: gray;
    font-size: 17px;
    font-family: "Inter", sans-serif;
}